.select{
    background-color: white;
    color: black;
    padding: 5px;
    margin: 10px
}

.book-button{
    background-color: rgb(15, 117, 233);
}

.error-report-button{
    background-color: rgb(15, 117, 233);
}

.delete-booking{
    background-color: rgb(15, 117, 233);
}